<div class="container">
  <ng-container *ngIf="productSelected; else notFound">
    <h2>{{ productSelected.title }}</h2>
    <app-carousel [imgs]="productSelected.photos"></app-carousel>
    <p>{{ productSelected.description }}</p>

    <ng-container *ngFor="let price of productSelected.prices | keyvalue">
      <p>{{ price.key }} : {{ price.value | topRound }}</p>
    </ng-container>
  </ng-container>

  <ng-template #notFound>
    <img
      src="https://img.freepik.com/free-vector/oops-404-error-with-broken-robot-concept-illustration_114360-5529.jpg"
      alt=""
    />
  </ng-template>
</div>
